on:
  push:
  pull_request:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set matrix
        id: set-matrix
        working-directory: ext/rusefi
        run: |
          export EVENT_NAME="${{github.event_name}}"
          export RUN_ATTEMPT="${{github.run_attempt}}"
          read -d '' COMMIT_MESSAGE << EOM || true
          ${{ github.event.head_commit.message }}
          EOM
          export COMMIT_MESSAGE
          bash firmware/bin/generate_matrix.sh ../../../boards
#          echo "matrix=$(bash firmware/bin/generate_matrix.sh config/boards)" >> $GITHUB_OUTPUT

  build-firmware:
    runs-on: ubuntu-latest
    needs: [
      generate-matrix]

    if: ${{ ! contains(needs.generate-matrix.outputs.matrix, '[]') }}
    strategy:
      # Let all builds finish even if one fails early
      fail-fast: false
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}

    steps:
      - name: Set Build Env Variables
        working-directory: ./firmware/
        run: |
          echo ${{matrix.meta-info}}
